.place__website {
  width: 456px;
  height: 151px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 26px;
}
@media screen and (max-width: 768px) {
  .place__website {
    height: 67px;
    width: 309px;
  }
}
