.place {
  height: 756px;
  display: grid;
  margin: 0;
  /* grid-template-rows: 151px 230px 230px auto; */
  /* grid-template-columns: 460px 484px; */
  grid-gap: 40px 26px;
  grid-template-areas:
    "title website"
    "image paragraph"
    "image paragraph"
    "anchor anchor";
}
