@media screen and (min-width: 1280px) {
  .intro__text_content_people {
    width: 758px;
    margin: 40px 374px 8px 148px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .intro__text_content_people {
    height: 123px;
    width: 720px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__text_content_people {
    height: 252px;
    width: 288px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0 auto;
  }
}
