@media screen and (max-width: 768px) {
  .place__website_wales {
    width: 352px;
    height: 89px;
  }
}
@media screen and (max-width: 320px) {
  .place__website_wales {
    width: auto;
    height: 111px;
  }
}
