.place__artist {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  margin-top: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__artist {
    height: 66px;
    width: 288px;
    margin-bottom: 8px;
  }
}
