@media screen and (max-width: 768px) {
  .place__title_wales {
    align-self: center;
    width: 340px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 320px) {
  .place__title_wales {
    width: 288px;
  }
}
