@media screen and (min-width: 768px) and (max-width: 1279px) {
  .place__title_wales {
    align-self: center;
    width: 340px;
    white-space: nowrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__title_wales {
    width: 288px;
    white-space: nowrap;
  }
}
