.lead__image {
  height: 615px;
  width: 984px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .lead__image {
    height: 480px;
    width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    height: 200px;
    width: 320px;
  }
}
